@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

body {
    @apply text-black text-sm antialiased font-poppins;
}

button {
    @apply cursor-pointer;
}

@keyframes movegradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-color:hover {
    color: rgba(91, 0, 183, 1);
}

.main-bg-color {
    background-color: rgba(91, 0, 183, 1);
}

.main-bg-color:hover {
    background-color: rgba(72, 0, 145, 1);
}

.main-border-color {
    border-color: rgba(91, 0, 183, 1);
}

.main-border-color:hover {
    background-color: rgb(207, 207, 207);
}

.main-icon-color {
    color: rgba(91, 0, 183, 1);
}

.gray-color-text {
    color: rgba(71, 85, 105, 1);
}

.gray-color-square {
    background-color: rgb(212, 212, 212);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

.focus-within\:main-border-color:focus-within {
    border-color: rgba(91, 0, 183, 1);
}